@import "nav.css";

.hamburger-img{
	width: 4em;
	height: auto;
  }

* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}


body, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;

}
li:hover{
  background-color: #b796dd83;
}
body{
  background-image: url("https://i.imgur.com/j4Ol8Hr.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Nunito',sans-serif;
}

h1{
  font-size:50px;
}
p{
  font-size: 1em;
  line-height: 50px;
}
img {
  max-width: 100%;
  height: auto;
}
img-style {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.text-part{
  align-content:flex-end;
  text-shadow: whitesmoke;
  font-size: 20px;
  color: #f1ecec;
  line-height: 30px;
  border-radius: 1px;
  text-align: justify;
  padding-top: 15%;
  margin-bottom: -10%;
  margin-right: 60%;
}
body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-track {
  background: #02121E;
}

body::-webkit-scrollbar-thumb {
  background-color: #FEEAFA;
  border-radius: 30px;
  border: 3px solid #02121E;
}
.home-area{
  position: relative;
  display: flex;
  justify-content :space-around;
  align-items:center;
  flex-wrap:wrap;
  flex-direction: row;
  width: 100%;
  height: 850px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
 
}


.about-area{
  
  position: relative;
  display: flex;
  justify-content :flex-end;
  align-items:left;
  flex-wrap:wrap;
  flex-direction: row;
 
  background: url("https://i.imgur.com/7J21A97.jpeg") no-repeat left, linear-gradient(-45deg, #bbc191, #8a5d3d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  width: 100%;
  height: 700px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}
.inner-container{
  width: 100%;
  float: right;
  background-color: #f1ece2;
  opacity:0.8;
  padding: 150px;
}
.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.text{
  font-size: 23px;
  color: #000;
  line-height: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.skills{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-weight: 700;
  font-size: 13px;
  justify-content: center;
}

.contact-area{
  
  display: flex;
  justify-content :space-between;
  margin-top: -5em;
  align-items:center;
  flex-wrap:wrap;
  flex-direction: row;
  width: 100%;
  height: 900px;
}

.contact-area-text{
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  text-align: center;
  margin-top: 5em;
  font-size:x-large;
}

.contact-form {
  font-family: 'Nunito',sans-serif;
  border-radius: 13px;
}

.contact-pic {
  width:100%;
  border-radius: 13px;
}

.contact-text {
  height:170px; 
  font-family: 'Nunito',sans-serif;
  border-radius: 13px;
}

.contact-submit {
  border-radius: 13px;
  font-family: 'Nunito',sans-serif;
  background-color: #02121E;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  align-items:center;
}

#contact{
  justify-content: center;
  align-content: center;
  grid-template-columns: max-content max-content;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  align-items:center;
}


input[type=submit]:hover {
  background-color: #a858a4;
  align-items:center;
  border-color: #666;
  border-radius: 2px;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  background: linear-gradient(-45deg, #677423, #5a3e29, #bbc191, #8a5d3d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#form-centering{
  text-align: center;
  margin-left:20%;
  margin-right: auto;
}
.footer-reference{
  text-emphasis-color: white;
  text-align: center;
  background: #5a3e29;
  border-radius: 3px;
  border-color: #5a3e29;
  color: white;
}

/* MOBILE MENU */
@media screen and (max-width: 500px){
  .skill-name {
    margin: 0.5em;
  }
}

@media screen and (max-width: 850px) {
  .about-area{
    background: linear-gradient(-45deg, #5a3e29, #bbc191, #8a5d3d, #677423);
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
  }
  .inner-container{
    padding: 50px;
    border-radius: 7px;
}
}
@media screen and (max-width: 700px) {
  #form-centering{
    text-align: center;
    margin-left: 0em;
    margin-right: auto;
  }
  .footer-reference{
    text-emphasis-color: white;
    text-align: center;
    background: #5a3e29;
    border-radius: 3px;
    border-color: #5a3e29;
    color: white;
    font-size: 10px;
  }

.inner-container{
    padding: 50px;
    border-radius: 7px;
}
.about-area{ 
  background: linear-gradient(-45deg, #5a3e29, #bbc191, #8a5d3d, #677423);
	background-size: 500% 500%;
	animation: gradient 10s ease infinite;
}
  .contact-area{
    position: relative;
    display: flex;
    justify-content :space-around;
    align-items:center;
    flex-wrap:wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
   
  }

  .contact-submit {
    border-radius: 13px;
    font-family: 'Nunito',sans-serif;
    background-color: #02121E;
    color: white;
    padding: 12px 20px;
    margin-bottom: 6em;
    border: none;
    cursor: pointer;
    align-items:center;
  }

  .contact-pic {
    margin-top:7em;
  }

  .text-part{
    align-content:flex-end;
    text-shadow: whitesmoke;
    font-size: 20px;
    color: #f1ecec;
    line-height: 30px;
    border-radius: 1px;
    text-align: justify;
    margin-bottom: 70vh;
    margin-right: 10%;
    margin-left: 20%;
  }

  h3{
    font-size: 1em;
  }

  p {
    font-size: 1em;
    line-height: 50px;
  }


  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .column {
    width: 100%;
    display:block;

  }


}
/* END MOBILE MENU */

/* DESKTOP MENU */
@media screen and (min-width: 701px) {
  .inner-container{
    padding: 80px;
}
}
@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
}

@media screen and (max-width: 1040px) {
  .inner-container{
    padding: 40px;
    width: 95%;
    margin-right: 2.5%;
}
}
