#nav-container > nav > ul {
	list-style-type: none;
  }
  /* NAVIGATION */
  #nav-background {
	position: fixed;
	top: 0;
	z-index: 9000;
	width: 100%;
	background-color: transparent;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  }
  
  #nav-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
  }
  
  #nav-header {
   
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
  }
  
  
  
  #nav-logo {
	color: white;
	text-decoration: none;
  }
  #nav-logo:hover {
	color: #bbc191;
  }
  .nav-ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 700px;
  }
  
  .nav-ul > li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  }
  
  .nav-link {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #02121E;
	text-decoration: none;
	font-weight: 600;
	font-size: 1.2rem;
	-webkit-transition: 200ms;
	transition: 200ms;
  }
  
  .nav-link:hover {
	background-color: #bbc191;
  }
  
  
  /* END NAVIGATION */
  
  
  /* MOBILE MENU */
  @media screen and (max-width: 700px) {
   
  .inner-container{
	  padding: 60px;
  }
  .nav-link {
	background-color: #cacfa5a1;
  }
  .nav-link:hover {
	background-color: #bbc191;
  }
  .hamburger-img{
	width: 2em;
	height: auto;
  }
  
  #nav-container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
  }
  
  #nav-menu-button {
	padding: 1rem;
	background-color: transparent;
	cursor: pointer;
	border-radius: 7px;
  }
  
  .nav-ul {
	display: block;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: auto;
	direction: rtl;
	transition: max-height 400ms;
	max-height: 80vh;
  }
  
  .hide-ul {
	max-height: 0;
  }
  
  .nav-link {
	padding: 1rem 0;
	font-size: 1.3rem;
	border-bottom: 1px solid #bbc191;
  }
  }
  /* END MOBILE MENU */
  
  /* DESKTOP MENU */
  @media screen and (min-width: 701px) {
  
	#nav-menu-button {
	  display: none;
  
	}
	.nav-link {
	  color :white; 
	  flex-basis: auto;
	  padding: 1rem 1.5rem;
	}
  }
  /* This moves the logo so that it's not touching the left side */
  @media screen and (max-width: 1040px) {
	#nav-logo {
	  margin-left: 1rem;
	}
  }